@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.98 0 0;
    --foreground: 0.3211 0 0;
    --card: 1.0000 0 0;
    --card-foreground: 0.3211 0 0;
    --popover: 1.0000 0 0;
    --popover-foreground: 0.3211 0 0;
    --primary: 0.6231 0.1880 259.8145;
    --primary-foreground: 1.0000 0 0;
    --secondary: 0.9670 0.0029 264.5419;
    --secondary-foreground: 0.4461 0.0263 256.8018;
    --muted: 0.9846 0.0017 247.8389;
    --muted-foreground: 0.5510 0.0234 264.3637;
    --accent: 0.9514 0.0250 236.8242;
    --accent-foreground: 0.3791 0.1378 265.5222;
    --destructive: 0.6368 0.2078 25.3313;
    --destructive-foreground: 1.0000 0 0;
    --border: 0.9276 0.0058 264.5313;
    --input: 0.9276 0.0058 264.5313;
    --ring: 0.6231 0.1880 259.8145;
    --chart-1: 0.6231 0.1880 259.8145;
    --chart-2: 0.5461 0.2152 262.8809;
    --chart-3: 0.4882 0.2172 264.3763;
    --chart-4: 0.4244 0.1809 265.6377;
    --chart-5: 0.3791 0.1378 265.5222;
    --sidebar: 0.9846 0.0017 247.8389;
    --sidebar-foreground: 0.3211 0 0;
    --sidebar-primary: 0.6231 0.1880 259.8145;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.9514 0.0250 236.8242;
    --sidebar-accent-foreground: 0.3791 0.1378 265.5222;
    --sidebar-border: 0.9276 0.0058 264.5313;
    --sidebar-ring: 0.6231 0.1880 259.8145;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0.2046 0 0;
    --foreground: 0.9219 0 0;
    --card: 0.2686 0 0;
    --card-foreground: 0.9219 0 0;
    --popover: 0.2686 0 0;
    --popover-foreground: 0.9219 0 0;
    --primary: 0.6231 0.1880 259.8145;
    --primary-foreground: 1.0000 0 0;
    --secondary: 0.2686 0 0;
    --secondary-foreground: 0.9219 0 0;
    --muted: 0.2393 0 0;
    --muted-foreground: 0.7155 0 0;
    --accent: 0.3791 0.1378 265.5222;
    --accent-foreground: 0.8823 0.0571 254.1284;
    --destructive: 0.6368 0.2078 25.3313;
    --destructive-foreground: 1.0000 0 0;
    --border: 0.3715 0 0;
    --input: 0.3715 0 0;
    --ring: 0.6231 0.1880 259.8145;
    --chart-1: 0.7137 0.1434 254.6240;
    --chart-2: 0.6231 0.1880 259.8145;
    --chart-3: 0.5461 0.2152 262.8809;
    --chart-4: 0.4882 0.2172 264.3763;
    --chart-5: 0.4244 0.1809 265.6377;
    --sidebar: 0.2046 0 0;
    --sidebar-foreground: 0.9219 0 0;
    --sidebar-primary: 0.6231 0.1880 259.8145;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.3791 0.1378 265.5222;
    --sidebar-accent-foreground: 0.8823 0.0571 254.1284;
    --sidebar-border: 0.3715 0 0;
    --sidebar-ring: 0.6231 0.1880 259.8145;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  ::selection {
    background-color: color-mix(in oklch, oklch(var(--primary)), transparent 80%);
    color: oklch(var(--primary));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight font-semibold;
  }
}