
.login
{
    /* background-color: rgb(230, 208, 198); */
    height: 100vh;
    width: 40vw;
}

.iframediv
{
    /* background-color: aqua; */
    height: 100vh;
    width: 60vw;
}
.iframe
{
    /* background-color: aqua; */
    height: 100vh;
    width: 60vw;
}