@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 268 66% 99%;
    --foreground: 268 53% 5%;
    --muted: 88 35% 95%;
    --muted-foreground: 88 12% 32%;
    --popover: 268 66% 99%;
    --popover-foreground: 268 53% 5%;
    --card: 268 66% 98%;
    --card-foreground: 268 53% 4%;
    --border: 268 4% 90%;
    --input: 268 4% 90%;
    --primary: 268 99% 84%;
    --primary-foreground: 268 99% 24%;
    --secondary: 88 99% 84%;
    --secondary-foreground: 88 99% 4%;
    --accent: 275, 100%, 89%;
    --accent-foreground: 88 99% 4%;
    --destructive: 13 82% 21%;
    --destructive-foreground: 13 82% 81%;
    --ring: 268 99% 84%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 268 54% 1%;
    --foreground: 268 27% 98%;
    --muted: 88 35% 5%;
    --muted-foreground: 88 12% 68%;
    --popover: 268 54% 1%;
    --popover-foreground: 268 27% 98%;
    --card: 268 54% 2%;
    --card-foreground: 268 27% 99%;
    --border: 268 4% 11%;
    --input: 268 4% 11%;
    --primary: 268 99% 84%;
    --primary-foreground: 268 99% 24%;
    --secondary: 88 99% 84%;
    --secondary-foreground: 88 99% 4%;
    --accent: 88 99% 84%;
    --accent-foreground: 88 99% 4%;
    --destructive: 13 82% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 268 99% 84%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}