* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5% /* makes 1rem 10px */
}
body {
  font-size: 1.6em; /* default font of 16px */
  font-family: 'Verdana', 'Arial', sans-serif;
  line-height: 1.3;
  --primary-color: #f3f3f3;
  --secondary-color: #000000;
  --Accent-color: #7742f4;
  background-color:var(--primary-color) ;
  --text-color: #212529;
}



