@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  :rootw {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #1D2B64;
    --background: 242 97.75% 98.5%;
    --foreground: 242 5.5% 1%;

    --muted: 242 5.5% 92.5%;
    --muted-foreground: 242 2.75% 42.5%;

    --popover: 242 46% 92.5%;
    --popover-foreground: 242 5.5% 1.25%;

    --card: 242 46% 92.5%;
    --card-foreground: 242 5.5% 1.25%;

    --border: 242 10.5% 90%;
    --input: 242 10.5% 90%;

    --primary: 242 55% 25%;
    --primary-foreground: 242 1.1% 92.5%;

    --secondary: 242 2.75% 96.25%;
    --secondary-foreground: 242 4.300000000000001% 12.5%;

    --accent: 242 2.75% 96.25%;
    --accent-foreground: 242 4.300000000000001% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 242 55% 25%;

    --radius: 0.5rem;
}
:root   {
    --background: 221 10% 10%;
    --foreground: 221 0% 100%;
    --card: 221 10% 10%;
    --card-foreground: 221 0% 100%;
    --popover: 221 10% 5%;
    --popover-foreground: 221 0% 100%;
    --primary: 221 83% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 10% 25%;
    --muted-foreground: 221 0% 65%;
    --accent: 183 10% 25%;
    --accent-foreground: 221 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 221 0% 100%;
    --border: 221 20% 50%;
    --input: 221 20% 50%;
    --ring: 221 83% 37%;
    --radius: 1rem;
  }
  
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}